.body {
    font-family: sans-serif;
    position: center;
    place-items: center;
    display: grid;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 150px;
    height: 150px;
}

/* .submit_btn {
    background-color: black;
    color: green;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;

    } */

.submit_btn {
        background-color: black;
        color: green;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s;
    }
    